* {
    font-family: 'Jua', sans-serif;
}

.top {
    width: 100vw;
    height: 200px;
    background-color: #40BBCA;
    position: absolute;
    top : -20px;
    right: 0px;
}
.title {
    font-size: 100px;
    padding-bottom: 300px;
    position: relative;
    text-align: center;
    top: -40px;
    
}


.line {
    width: 100%;
    position:absolute;
    top: 170px;
    right: 0;
}

.oneofactionbtn {
    width: 20rem;
    height: 12rem;
    background-color: #F6B157;
    text-align: center;
    border-radius: 200px;
    font-size: 4.5rem;
    position: absolute; /* 위치 지정 */
    top: 45%; /* 위쪽 여백 50% */
    left: 35%; /* 왼쪽 여백 50% */
    transform: translate(-35%, -45%); /* 중앙 정렬 */
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    text-align: center; /* 텍스트 가운데 정렬 */
    transition: .5s;
}

.bodybtn {
    width: 20rem;
    height: 12rem;
    background-color: #F6B157;
    text-align: center;
    position: absolute; /* 위치 지정 */
    top: 45%; /* 위쪽 여백 50% */
    left: 65%; /* 왼쪽 여백 50% */
    transform: translate(-65%, -45%); /* 중앙 정렬 */
    border-radius: 200px;
    font-size: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    text-align: center; /* 텍스트 가운데 정렬 */
    transition: .5s;
}

.nonstopspeakbtn {
    width: 20rem;
    height: 12rem;
    background-color: #F6B157;
    text-align: center;
    position: absolute; /* 위치 지정 */
    top: 50%; /* 위쪽 여백 50% */
    left: 35%; /* 왼쪽 여백 50% */
    transform: translate(-35%, -45%); /* 중앙 정렬 */
    border-radius: 200px;
    font-size: 50px;
    margin-top: 12rem;
    font-size: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    text-align: center; /* 텍스트 가운데 정렬 */
    transition: .5s;
}
.nonstopwritebtn{
    width: 20rem;
    height: 12rem;
    background-color: #F6B157;
    text-align: center;
    position: absolute; /* 위치 지정 */
    top: 50%; /* 위쪽 여백 50% */
    left: 65%; /* 왼쪽 여백 50% */
    transform: translate(-65%, -45%); /* 중앙 정렬 */
    border-radius: 200px;
    margin-top: 12rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    text-align: center; /* 텍스트 가운데 정렬 */
    font-size: 4rem;
    transition: .5s;
}

/* .title1 {
    position: relative;
    right: -2.5rem;
    top: -1rem;
}
.title2 {
    position: relative;
    right: -6rem;
    top: -1.5rem;
}

.title3 {
    position: relative;
    right: -5.5rem;
    top: -1rem;
}

.title4 {
    position: relative;
    right: -6rem;
    top: -1rem;
}
 */

.home {
    width: 110px;
    position: absolute;
    left: 11px;
    top:20px;
}

.oneofactionbtn:hover {
    background-color: hsl(27, 100%, 50%);
}
.bodybtn:hover {
    background-color: hsl(27, 100%, 50%);
}

.nonstopspeakbtn:hover {
    background-color: hsl(27, 100%, 50%);
}

.nonstopwritebtn:hover {
    background-color: hsl(27, 100%, 50%);
}

a:link, a:visited {
    text-decoration: none;  /* 밑줄없애기 */
    color: black;
}