
* {
    font-family: 'Jua', sans-serif;
}
body {
    margin: 0;
}
.title {
    background-color: #40BBCA;
    font-size: 120px;
    text-align: center;
    height: 200px;
    line-height: 200px;
    border-style: solid;
    border-color: white white black;
    border-width: 0px 0px 10px 0px ;
}
.home {
    width: 110px;
    position: absolute;
    left: 11px;
    top:20px
}
.start {
    background-color: #F6B157;
    width: 150px;
    height: 50px;
    font-size: 30px;
    
}

.alarm {
    position: relative;
    width: 20rem;
    text-align: center;
   
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 20px;
}
.number {
    position: relative;
    top: -14rem;
    font-size: 7rem;
    margin-bottom: -8rem;
} 