* {
    font-family: 'Jua', sans-serif;
}

.top {
    width: 100vw;
    height: 350px;
    background-color: #40BBCA;
    text-align: center;
    position: absolute;
    top : -20px;
    right: 0px;
}

.title {
    font-size: 100px;
}
.line {
    width: 100%;
    position:absolute;
    top: 320px;
    right: 0;
}


.actionbtn{
    width: 450px;
    height: 220px;
    background-color: #F6B157;
    text-align: center;
    position: absolute;
    border-radius: 200px;
    top: 450px;
    right: 420px;
    font-size: 100px;
}
.quizbtn{
    width: 450px;
    height: 220px;
    background-color: #F6B157;
    text-align: center;
    position: absolute;
    border-radius: 200px;
    top: 450px;
    left: 420px;
    font-size: 100px;
}
.quizletter, .actionletter {
    position: relative;
    top:-50px;
}
a:link, a:visited {
    text-decoration: none;  /* 밑줄없애기 */
    color: black;
}

.alarm {
    width: 150px;
    position: absolute;
    right: 10px;
    top: 30px;
}