
* {
    font-family: 'Jua', sans-serif;
}
body {
    margin: 0;
}
.title {
    background-color: #40BBCA;
    font-size: 120px;
    text-align: center;
    height: 200px;
    line-height: 200px;
    border-style: solid;
    border-color: white white black;
    border-width: 0px 0px 10px 0px ;
}

p {
    height: auto;
    text-align: center;
    font-size: 70px;
}

.container .group {
  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1600px;
    margin: auto;
    padding: 10px;
}


p{
    position: relative;
    margin-top: 0.7rem;
    font-size: 3rem;
}
.start{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
.start_button {
    width: 10rem;
}
.alarm {
    position: relative;
    margin-right: 1rem;
    width: 12rem;
    height: 12rem;
    top: -2rem;
    left: -5rem;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1600px;
    margin: auto;
    padding: 10px;
}
input { 
    position: relative;
    top: -7rem;
    left: -7rem;
    width: 25rem;
    height: 10rem;
    background-color: #F3E3B9;
    border-style: none;
    outline: none;
    text-align: center;
    font-size: 5rem;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}